body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/backgound.jpg');
    background-size: contain;


}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container .form-message{
    display: block;
    width: 40%;
    height: 22vh;
    margin-right: 150px;
}
.form-message h2{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
}
.form-message p{
    margin-top: 20px;
    width: 80%;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.container .form{
    background-color: #fff;
    height: 900px;
    width: 750px;
    padding: 15px;
}

.form .input-group{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    padding: 0 20px;
    margin: 0 10px;
    height: 700px;
}

.form .input-group .input-box{
    width: 100%; 
}
.input-group .input-box input{
    margin-top: 15px;
    padding: 0 10px;
    width: 100%;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 400;
    color: rgb(41, 41, 41);
}
input::placeholder{
    font-weight: 700;
    color: #A8A8A8;
}
.input-group .input-box textarea{
    margin-top: 15px;
    padding: 5px 10px;
    width: 100%;
    height: 250px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 400;
    color: rgb(41, 41, 41);
}
textarea::placeholder{
    color: #A8A8A8;
    font-weight: 700;
}
.input-box input.message{
    height: 200px;
}
.form .form-info {
    display: flex;
    margin: 0 0 20px 20px;
   
}
.form .form-info h4{
    font-size: 30px;
    font-weight: 400;
}

.form .continue-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .continue-button .button{
    cursor: pointer;
    color: #fff;
    background-color: #3CCC87;
    border: none;
    border-radius: 15px;
    width: 665px;
    height: 100px;
    font-size: 35px;
    font-weight: 700;
}
.form .continue-button .button:hover{
    background-color: #31ad71;
}
.input-group .input-box span{
    display: none;
}

/*mudanças denied*/
.input-group .input-box.denied  input{
    border: 3px solid red;
}
.input-group .input-box.denied  textarea{
    border: 3px solid red;
}
.input-group .input-box .denied-message{
    font-size: 18px;
    font-weight: 400;
    color: red;
    display: block;
}
/*mudanças accepted*/
.input-group .input-box.accepted  input{
    border: 3px solid #00C22B;
}
.input-group .input-box.accepted  textarea{
    border: 3px solid #00C22B;
}
